# Generate requirements.txt using:
# pip-compile --upgrade --no-emit-index-url requirements-3.9.in
# Install using:
# pip-sync

# Data mock
netCDF4~=1.7
xarray~=2024.7

# API
brotli-asgi~=1.4
eval_type_backport~=0.2.2
fastapi~=0.115.11
gunicorn~=23.0
numpy~=1.26
uvicorn[standard]~=0.34.0
covjson-pydantic~=0.5.0
edr-pydantic~=0.7.0
shapely~=2.0
geojson-pydantic~=1.2
